.footer{
  border-top: 3px solid #ccc;
  border-bottom: 1px solid #eee;
  padding: 40px 0 50px;
  &__link{
    color: #999!important;
    font-weight: 700;
    padding-bottom: 0!important;
    transition: color .3s;
    &:hover{
      color: $orange!important;
      border-bottom:none!important;
    }
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
    &__dots{
      display: flex;
      justify-content: center;
      margin: 50px 0 40px;
        .dot{
          width: 13px;
          height: 13px;
          background-color: #eee;
          margin-right: 40px;
            &:last-child{
              margin-right: 0;
            }
        }
    }
    &__text{
      font-size: .875rem;
      color: #aaa;
      letter-spacing: 0.7px;
      margin-bottom: 7px;
      text-align: center;
    }
    &__mail{
      font-weight: 700;
      color: $orange;
      letter-spacing: 0.7px;
      font-size: 1rem;
    }
  .navigation{
    @media (max-width:480px) {
      flex-direction: column;
    }
    &__item{
        @media (max-width:480px) {
          margin: 10px;
        }
    }
  }
}