.navigation{
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: center;
    &__link{
      color: #454646;
      padding-bottom: 40px;
      transition-duration: 500ms;
      transition-property: color, border-bottom;
        &:hover{
          color: $white;
          border-bottom: 4px solid $blue;
        }
    }
    &__item{
      text-transform: uppercase;
      font-size: 1rem;
      padding: 0 20px;
        &:hover{
          ul{
            display: block;
          }
        }

    }
    &__item.active > a{
          color: $white;
          border-bottom: 4px solid $blue;
      }
    &__dropdown{
      position: absolute;
      width: 130px;
      display: none;
      top: 30px;
      left: 61%;
      padding: 0;
      margin: 0;
        li{
          position: relative;
          height: 20px;
          font-size: .6rem;
          margin-top: 20px;
            &:last-child{
              padding-bottom: 40px;
            }
        }
    }

}