.partners{
  padding: 25px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
    &__list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      @media (max-width:768px) {
        flex-wrap: wrap;
      }
    }
    &__item{
      transition: transform .3s;
      &:hover{
        transform: scale(1.2, 1.2);
      }
      @media (max-width:768px) {
        flex-basis: 25%;
        margin: 5px;
      }
      @media (max-width:480px) {
        flex-basis: 40%;
        margin: 20px 10px;
      }
      @media (max-width:375px) {
        flex-basis: 100%;
        margin: 20px 5px;
      }
    }
    &__item{
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
        @media (max-width:375px) {
          margin-right: 0;
          text-align: center;
        }
    }
}